&lt;div class=&quot;tag-list&quot;&gt;
	&lt;h3&gt;Other disciplines for this client&lt;/h3&gt;
	&lt;div class=&quot;button button--alt&quot;&gt;App&lt;/div&gt;
	&lt;div class=&quot;button button--alt&quot;&gt;Brand&lt;/div&gt;
	&lt;div class=&quot;button button--alt&quot;&gt;Website&lt;/div&gt;
&lt;/div&gt;