&lt;div class=&quot;tag-list&quot;&gt;
	&lt;h3&gt;Other disciplines&lt;/h3&gt;
	&lt;div class=&quot;tag&quot;&gt;App&lt;/div&gt;
	&lt;div class=&quot;tag&quot;&gt;Brand&lt;/div&gt;
	&lt;div class=&quot;tag&quot;&gt;Website&lt;/div&gt;
&lt;/div&gt;