@import "http://fast.fonts.net/cssapi/841d9ee6-a55a-4627-b976-8e02164c8049.css";
html, body {
  padding: .5em !important; }

*,
*:before,
*:after {
  box-sizing: border-box; }

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

a img {
  border: none; }

/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/
/* Layout Container */
.lc, [role=main] {
  max-width: 72em;
  margin: 0 auto;
  padding: 1em; }

/* Backgrounds */
.bg--alt {
  background: #29313D; }

.bg--darker {
  background: #EFEDDA; }

/* Clearfix */
.cf, [role=main] {
  *zoom: 1; }

.cf:before, [role=main]:before, .cf:after, [role=main]:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after, [role=main]:after {
  clear: both; }

/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important; }

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

/* Floats */
.right {
  float: right;
  padding: 0 0 1em 1em; }

.right-search {
  float: right;
  padding: 0 0 1em 0; }

.left {
  float: left;
  padding: 0 1em 1em 0; }

/* Text-Align */
.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.valid {
  color: #089e00; }

.error {
  color: #f00; }

.warning {
  color: #fff664; }

.information {
  color: #000db5; }

.font-secondary {
  font-family: Georgia, Times, "Times New Roman", serif; }

body {
  background: #FBF7E5;
  font: 1em/1.5 "Foundry Sterling W01", "HelveticaNeue", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #898D86; }
  @media (min-width: 40em) and (max-width: 59.99em) {
    body {
      font-size: .9em; } }
  @media (max-width: 39.99em) and (orientation: landscape) {
    body {
      font-size: .5em; } }

/* Links */
a {
  color: #5A5F55;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #35332E; }

.titled-list a,
.iconed-list a {
  color: #898D86;
  border-bottom: 1px dotted #a5a7a3;
  transition: .35s all; }
  .titled-list a:hover, .titled-list a:focus, .titled-list a:active,
  .iconed-list a:hover,
  .iconed-list a:focus,
  .iconed-list a:active {
    color: #5A5F55;
    border-bottom-color: #898D86; }

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h2, .beta, h3, .gamma, h4, .delta, h5, .epsilon, h6, .zeta {
  color: #898D86;
  font-weight: 600;
  margin: .75rem 0; }

.bg--alt h2, .bg--alt .beta, .bg--alt h3, .bg--alt .gamma, .bg--alt h4, .bg--alt .delta, .bg--alt h5, .bg--alt .epsilon, .bg--alt h6, .bg--alt .zeta, .bg--alt h1 {
  color: #FBF7E5; }

.hgroup {
  text-align: center;
  padding: 0.5em 1em; }
  .hgroup h3 {
    margin-top: 1.2em; }
  @media (min-width: 30em) {
    .hgroup h2 {
      padding: 0 1em; } }
  @media (min-width: 40em) {
    .hgroup {
      padding-top: 3em; }
      .hgroup h2 {
        padding: 0 3em; } }
  @media (min-width: 60em) {
    .hgroup {
      padding: 3em 2em 3em; }
      .hgroup.hgroup--close {
        padding-bottom: 0; }
      .hgroup h2 {
        padding: 0; } }

h1, .alpha {
  color: #35332E;
  line-height: 1;
  font-size: 2em;
  font-weight: 700;
  margin: .75rem 0; }
  @media (min-width: 30em) {
    h1, .alpha {
      font-size: 2.2em; } }
  @media (min-width: 45em) {
    h1, .alpha {
      font-size: 2.5em; } }
  @media (min-width: 60em) {
    h1, .alpha {
      font-size: 2.75em; } }

h2, .beta {
  line-height: 1.1;
  font-size: 1.2em;
  font-weight: 600; }
  @media (min-width: 30em) {
    h2, .beta {
      font-size: 1.5em; } }
  @media (min-width: 45em) {
    h2, .beta {
      font-size: 1.7em; } }
  @media (min-width: 60em) {
    h2, .beta {
      font-size: 1.8em; } }

h3, .gamma {
  line-height: 1.2;
  font-size: 1em;
  color: #5A5F55; }
  @media (min-width: 30em) {
    h3, .gamma {
      font-size: 1.2em; } }

/* Subheadings */
.subheading {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal; }

/* Text-Related Elements */
p {
  margin-bottom: 1em;
  font-size: 1.1em;
  font-weight: 400; }

blockquote, q, cite {
  font-style: italic;
  font-weight: 300;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #8d918a; }

/* Blockquote */
blockquote {
  margin-bottom: 1em;
  font-size: .95em;
  line-height: 1.5; }
  blockquote p {
    margin-bottom: 0.75em !important; }

/* Horizontal Rule */
hr {
  border: 0;
  height: 2px;
  background: #29313D;
  margin: 2em 0; }

abbr {
  border-bottom: 1px dotted #808080;
  cursor: help; }

mark {
  background: #EFEDDA; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.1rem; }

/* Definition Lists */
dl {
  overflow: hidden;
  margin: 0 0 1em; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
/* Flexible Media */
img, video, object {
  max-width: 100%;
  height: auto; }

iframe {
  margin-bottom: 1em; }

figure {
  margin-bottom: 1em; }
  figure img {
    margin-bottom: 0.5em; }

figcaption {
  font-style: italic; }

.map__placeholder {
  display: inline-block; }
  .map__placeholder img {
    display: block; }

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol, form ul {
  list-style: none;
  margin-left: 0; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

label {
  display: block;
  padding-bottom: 0.5em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0 1px 0; }

input, textarea, select {
  width: 100%;
  background: #EFEDDA;
  color: #5A5F55;
  border: 1px solid #EFEDDA;
  padding: 0.65rem;
  outline: none;
  border-radius: 0;
  transition: .25s all; }
  input:focus, textarea:focus, select:focus {
    background: #fff; }

input[type=text],
input[type=search],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
input[type=submit],
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none; }

button, input[type="submit"] {
  display: inline-block;
  width: auto; }

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em; }

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

select {
  width: 100%;
  display: block;
  padding-right: 2em; }

select::-ms-expand {
  display: none; }

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0; }

textarea {
  resize: vertical;
  min-height: 7em; }

.select:after {
  content: "\25bc";
  color: #898D86;
  display: inline-block;
  padding: 0 .5em;
  speak: none;
  pointer-events: none;
  font-size: .75em;
  line-height: 3em;
  position: absolute;
  top: .1em;
  bottom: .1em;
  right: .1em; }

.field {
  margin-bottom: 1em; }

.inline-form fieldset, .inline-form .inline-container {
  position: relative; }
.inline-form input[type=submit], .inline-form button, .inline-form .btn {
  font-size: 0.875em;
  padding: 0.65rem 1.3rem;
  background: #333;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto; }
  .inline-form input[type=submit]:hover, .inline-form input[type=submit]:focus, .inline-form button:hover, .inline-form button:focus, .inline-form .btn:hover, .inline-form .btn:focus {
    background: #808080;
    color: #fff; }

/* Validation */
.has-error {
  border-color: #f00; }

.is-valid {
  border-color: #089e00; }

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
/* Search Form */
@media (min-width: 40em) {
  .contact-form .field--break {
    float: left;
    width: 50%; }
    .contact-form .field--break:nth-child(2n-1) {
      padding-right: 1em; } }

.inline-form .search-submit {
  background: none;
  padding: 0.78em 1em;
  border: 0;
  border-left: 1px solid #808080;
  color: #808080; }

/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #808080;
  width: 100%; }

th {
  text-align: left;
  border: 1px solid #808080;
  padding: 0.2em; }

td {
  border: 1px solid #808080;
  padding: 0.2em; }

.animate-fade {
  transition: opacity 0.25s ease-out; }
  .animate-fade:hover {
    opacity: 0; }

.animate-move > .demo-shape {
  transition: all 0.5s ease-in-out; }

/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
  padding: 0;
  overflow: hidden; }

.intro {
  text-align: center;
  margin: 0 auto;
  padding: .75em .5em 1.5em .5em;
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: 700;
  max-width: 18em; }
  @media (min-width: 20em) {
    .intro {
      font-size: 1.8em; } }
  @media (min-width: 30em) {
    .intro {
      font-size: 2.2em; } }
  @media (min-width: 45em) {
    .intro {
      font-size: 2.35em; } }
  @media (min-width: 60em) {
    .intro {
      font-size: 2.75em;
      font-weight: 700;
      letter-spacing: 0.01em; } }

.pullquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4375em; }

.caption {
  font-style: italic; }

.text {
  font-size: .92em;
  line-height: 1.4;
  overflow: hidden; }
  .text a {
    text-decoration: underline; }
  .text ul {
    list-style: disc;
    margin: 0 0 1em 1.2em; }
    .text ul ul {
      margin-bottom: 0; }
  .text ol {
    list-style: decimal;
    margin: 0 0 1em 1.5em; }
    .text ol ol {
      margin-bottom: 0; }

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
button, input[type="submit"],
.button {
  display: inline-block;
  background: #898D86;
  color: #FBF7E5;
  line-height: 1;
  font-weight: bold;
  padding: 0.9em 1em 0.75em 1em;
  border: 0;
  text-align: center;
  text-decoration: none !important;
  transition: .15s all ease-in-out; }
  button:hover, input[type="submit"]:hover, button:active, input[type="submit"]:active, button:focus, input[type="submit"]:focus,
  .button:hover,
  .button:active,
  .button:focus {
    background: #5A5F55;
    color: #FBF7E5;
    cursor: pointer; }
  button.disabled, input.disabled[type="submit"],
  .button.disabled {
    background: #4a4f54;
    color: #808080; }

.button--small {
  padding: 0.5em; }

.button--large {
  padding: 0.5em;
  text-transform: uppercase;
  background: #808080;
  font-size: 1.4rem;
  font-weight: normal; }

.button--disabled {
  background: #898D86 !important;
  color: #EFEDDA !important;
  cursor: default !important; }

.button--alt {
  background: #29313D; }
  .button--alt:hover, .button--alt:active, .button--alt:focus {
    background: #3d4a5c; }

.button--text {
  padding: 0;
  color: #898D86;
  background: none !important; }
  .button--text:hover, .button--text:active, .button--text:focus {
    color: #5A5F55; }

.button--action {
  background: #FBF7E5;
  color: #898D86 !important; }
  .button--action:hover, .button--action:active, .button--action:focus {
    background: #fff;
    color: #5A5F55 !important; }
  .button--action:after {
    content: '\e80d';
    font-family: 'fontello';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    padding-left: 1em; }

.button--more {
  background: transparent;
  color: #898D86 !important;
  border: 0.1em solid #898D86; }
  .button--more:hover, .button--more:active, .button--more:focus {
    background: #fff;
    color: #5A5F55 !important; }
  .button--more:after {
    content: '\e80d';
    font-family: 'fontello';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    padding-left: 1em; }

.article-header h1 {
  font-size: 2.5em; }

.tag, .byline {
  background: #EFEDDA;
  margin-bottom: .5em;
  float: left;
  padding: .3em .6em; }

.tag {
  margin-right: .5em;
  margin-left: 0;
  font-size: .87em; }

.byline {
  background: #EFEDDA;
  margin-bottom: 0.5em;
  font-style: normal;
  font-family: "Foundry Sterling W01", "HelveticaNeue", Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: .3em .6em; }
  .byline span {
    color: #5A5F55; }

.quote--client cite {
  color: #5A5F55; }
  .quote--client cite:before {
    content: "Client ";
    color: #898D86; }

.social-share {
  overflow: hidden;
  margin-bottom: 1em; }
  .social-share li {
    float: left;
    margin-right: 0.5em; }
  .social-share a {
    background: #333;
    color: #fff;
    display: block;
    padding: 0.5em; }
    .social-share a:hover {
      background: #808080; }
