&lt;a href=&quot;#&quot; rel=&quot;external&quot; class=&quot;bg--darker context-widget context-widget--visit&quot;&gt;
	&lt;div class=&quot;text&quot;&gt;
		Visit the site
		&lt;span class=&quot;context-widget--visit__url&quot;&gt;domain.com&lt;/span&gt;
	&lt;/div&gt;
&lt;/a&gt;