&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;position lc--tight&quot;&gt;
			&lt;section class=&quot;section&quot;&gt;
				&lt;div class=&quot;position__content text&quot;&gt;
					&lt;h2 class=&quot;position__title&quot;&gt;Web designer&lt;/h2&gt;
					{{&gt; organisms-job-inner-content }}
				&lt;/div&gt;
				&lt;div class=&quot;position__share&quot;&gt;
					{{&gt; molecules-share-widget }}
				&lt;/div&gt;
			&lt;/section&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;