&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;section class=&quot;section&quot;&gt;
			&lt;div class=&quot;project-list&quot;&gt;
				{{# portfolio }}
					{{&gt; molecules-portfolio-item }}
				{{/ portfolio }}
			&lt;/div&gt;
		&lt;/section&gt;
	&lt;/div&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;