&lt;img sizes=&quot;(min-width: 60em) 300px, (min-width: 48em) 33vw, (min-width: 20em) 50vw, 100vw&quot; srcset=&quot;//placehold.it/250x125/fff 250w, //placehold.it/400x200/fff 400w, //placehold.it/600x300/fff 600w&quot; alt=&quot;portfolio item&quot; /&gt;