&lt;img sizes=&quot;(min-width: 47em) 200px, (min-width: 40em) 25vw, (min-width: 20em) 33vw, 100vw&quot; srcset=&quot;//placehold.it/240x260 240w, //placehold.it/320x300 320w, //placehold.it/400x420 400w&quot; alt=&quot;{{ member.name }}&quot; /&gt;