&lt;img sizes=&quot;(min-width: 60em) 200px, (min-width: 40em) 20vw, (min-width: 20em) 33vw, 100vw&quot; srcset=&quot;//placehold.it/250x125 250w, //placehold.it/400x200 400w, //placehold.it/600x300 600w&quot; alt=&quot;portfolio item&quot; /&gt;