&lt;div class=&quot;nav nav--prevnext&quot;&gt;
	1 / 37 projects
	&lt;ul class=&quot;nav-list&quot;&gt;
		&lt;li&gt;&lt;a class=&quot;nav--prevnext__prev icon icon--leftarrow&quot; href=&quot;{{ url }}&quot; &gt;&lt;span class=&quot;icon__text&quot;&gt;Previous&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a class=&quot;nav--prevnext__next icon icon--rightarrow&quot; href=&quot;{{ url }}&quot; &gt;&lt;span class=&quot;icon__text&quot;&gt;Next&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;