&lt;div class=&quot;fluixd fluixd--right&quot;&gt;
	&lt;div class=&quot;fluixd__img fluixd__fixed&quot;&gt;
		&lt;img sizes=&quot;(min-width: 47em) 40vw, 100vw&quot; srcset=&quot;../../images/homepage/owl.gif 300w&quot; alt=&quot;&quot;&gt;
	&lt;/div&gt;
	&lt;div class=&quot;fluixd__img fluixd__fluid&quot;&gt;
		&lt;picture&gt;
			&lt;source media=&quot;(min-width: 47em)&quot; sizes=&quot;70vw&quot; srcset=&quot;//placehold.it/500x400/d16830/fff 500w, ../../images/homepage/own.jpg 900w&quot; /&gt;
			&lt;img srcset=&quot;//placehold.it/400x400/d16830/fff 400w&quot; alt=&quot;project&quot;&gt;		
		&lt;/picture&gt;
	&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;fluixd fluixd--left&quot;&gt;
	&lt;div class=&quot;fluixd__img fluixd__fixed&quot;&gt;
		&lt;img sizes=&quot;(min-width: 47em) 40vw, 100vw&quot; srcset=&quot;../../images/homepage/crafted.jpg 300w&quot; alt=&quot;&quot;&gt;
	&lt;/div&gt;
	&lt;div class=&quot;fluixd__img fluixd__fluid&quot;&gt;
		&lt;picture&gt;
			&lt;source media=&quot;(min-width: 47em)&quot; sizes=&quot;70vw&quot; srcset=&quot;//placehold.it/500x400/000/fff 500w, ../../images/homepage/clarisford.jpg 900w&quot; /&gt;
			&lt;img srcset=&quot;//placehold.it/400x400/000/fff 200w&quot; alt=&quot;project&quot;&gt;		
		&lt;/picture&gt;
	&lt;/div&gt;
&lt;/div&gt;