&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		{{&gt; molecules-heading-group }}
		&lt;section class=&quot;section lc--tight&quot;&gt;
			{{# service }}
				&lt;div class=&quot;col col--services&quot;&gt;
					&lt;div class=&quot;titled-list&quot;&gt;
						&lt;h3 class=&quot;titled-list__title&quot;&gt;{{ title }}&lt;/h3&gt;
						&lt;ul class=&quot;titled-list__list&quot;&gt;
							{{# li }}
								&lt;li&gt;{{ val }}&lt;/li&gt;
							{{/ li }}
						&lt;/ul&gt;
					&lt;/div&gt;
				&lt;/div&gt;
			{{/ service }}
		&lt;/section&gt;
	&lt;/div&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;