&lt;ul class=&quot;icons inline-list&quot;&gt;
	&lt;li class=&quot;icon icon--twitter&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon icon--facebook&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon icon--stumbleupon&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon icon--linkedin&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon icon--pinterest&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon icon--google-plus&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon icon--youtube&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon icon--feed&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon icon--search&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon icon--play&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;