&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		{{&gt; molecules-heading-group }}

		&lt;section class=&quot;section&quot;&gt;
			{{&gt; organisms-member-list }}
		&lt;/section&gt;
		
		&lt;section class=&quot;section&quot;&gt;
			&lt;div class=&quot;hgroup lc--tight&quot;&gt;
			   	&lt;h1&gt;Jobs available&lt;/h1&gt;
			   	&lt;h2&gt;We're always looking for good people to join but please, recruitment agencies don't call, as we also have an in-house hitman.&lt;/h2&gt;
			   	&lt;h3&gt;We're currently looking for individuals to fill the following roles:&lt;/h3&gt;
			&lt;/div&gt;

			&lt;div class=&quot;button-list&quot;&gt;
				&lt;a href=&quot;#&quot; class=&quot;button button--alt&quot;&gt;Web developer&lt;/a&gt;
				&lt;a href=&quot;#&quot; class=&quot;button button--alt&quot;&gt;Studio manager&lt;/a&gt;
				&lt;a href=&quot;#&quot; class=&quot;button button--alt&quot;&gt;Backend developer&lt;/a&gt;
			&lt;/div&gt;
		&lt;/section&gt;
	&lt;/div&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;