&lt;ul class=&quot;nav--footer&quot;&gt;
	&lt;li&gt;&lt;a class=&quot;icon icon--facebook&quot; href=&quot;{{ url }}&quot;&gt;
		&lt;span class=&quot;icon__text&quot;&gt;Facebook&lt;/span&gt;
	&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a class=&quot;icon icon--twitter&quot; href=&quot;{{ url }}&quot;&gt;
		&lt;span class=&quot;icon__text&quot;&gt;Twitter&lt;/span&gt;
	&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a class=&quot;icon icon--linkedin&quot; href=&quot;{{ url }}&quot;&gt;
		&lt;span class=&quot;icon__text&quot;&gt;LinkeIn&lt;/span&gt;
	&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a class=&quot;icon icon--google-plus&quot; href=&quot;{{ url }}&quot;&gt;
		&lt;span class=&quot;icon__text&quot;&gt;Google+&lt;/span&gt;
	&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a class=&quot;icon icon--pinterest&quot; href=&quot;{{ url }}&quot;&gt;
		&lt;span class=&quot;icon__text&quot;&gt;Pinterest&lt;/span&gt;
	&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a class=&quot;icon icon--instagram&quot; href=&quot;{{ url }}&quot;&gt;
		&lt;span class=&quot;icon__text&quot;&gt;Instagram&lt;/span&gt;
	&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;