&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		{{&gt; molecules-heading-group }}
		&lt;section class=&quot;section contact&quot;&gt;
			&lt;div class=&quot;contact__list&quot;&gt;
				{{&gt; atoms-icon-list }}
			&lt;/div&gt;
			&lt;div class=&quot;contact__map&quot;&gt;
				{{&gt; atoms-map }}
			&lt;/div&gt;
			&lt;div class=&quot;contact__form&quot;&gt;
				{{&gt; molecules-contact }}
			&lt;/div&gt;
			&lt;div class=&quot;contact__square contact__instagram&quot;&gt;
				{{&gt; molecules-square-instagram }}
			&lt;/div&gt;
			&lt;div class=&quot;contact__square contact__twitter&quot;&gt;
				{{&gt; molecules-square-twitter }}
			&lt;/div&gt;
			&lt;div class=&quot;contact__square contact__job&quot;&gt;
				{{&gt; molecules-square-job }}
			&lt;/div&gt;
		&lt;/section&gt;
	&lt;/div&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;

&lt;script&gt;
	
	
&lt;/script&gt;