&lt;img sizes=&quot;(min-width: 47em) 300px, (min-width: 40em) 33vw, (min-width: 20em) 50vw, 100vw&quot; srcset=&quot;//placehold.it/150x75 150w, //placehold.it/300x150 300w, //placehold.it/600x300 600w&quot; alt=&quot;portfolio item&quot; /&gt;