&lt;div class=&quot;square&quot;&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, velit molestiae, quo voluptate suscipit, facere rem at porro cupiditate pariatur aspernatur eius aliquam. Error aspernatur, consequuntur. Quia voluptate, soluta odit.&lt;/p&gt;

	&lt;a href=&quot;http://twitter.com&quot; target=&quot;_blank&quot; class=&quot;square__link icon icon--bubble&quot;&gt;Jobs&lt;/a&gt;
&lt;/div&gt;