&lt;div class=&quot;bg--darker context-widget&quot;&gt;
	&lt;div class=&quot;text&quot;&gt;
		&lt;h3&gt;Would you like to work with us?&lt;/h3&gt;
		&lt;p&gt;Talk to Iain Scott to get a picture of how we could work together.&lt;/p&gt;
	&lt;/div&gt;
	&lt;a href=&quot;{{ link.pages-contact }}&quot; class=&quot;button&quot;&gt;Get in touch&lt;/a&gt;
&lt;/div&gt;