&lt;nav id=&quot;nav&quot; class=&quot;nav nav--header&quot;&gt;
	&lt;ul class=&quot;nav-list&quot;&gt;
		&lt;li&gt;&lt;a class=&quot;active&quot; href=&quot;{{ url }}&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Work&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Services&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Team&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Clients&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
