&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;job&quot;&gt;			
			{{&gt; molecules-job-heading }}
			&lt;div class=&quot;job__hero&quot;&gt;
				{{&gt; atoms-portfolio-primary }}
			&lt;/div&gt;
			&lt;div class=&quot;lc--uneven&quot;&gt;
				&lt;section class=&quot;section job__content&quot;&gt;
					{{&gt; organisms-portfolio-content }}
					{{&gt; organisms-tag-list }}
				&lt;/section&gt;
				&lt;aside class=&quot;job__aside&quot;&gt;
					&lt;div class=&quot;job__pic job__extra&quot;&gt;
						{{&gt; atoms-portfolio-secondary }}
					&lt;/div&gt;
					&lt;div class=&quot;job__pic job__extra&quot;&gt;
						{{&gt; atoms-portfolio-secondary }}
					&lt;/div&gt;
				&lt;/aside&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;div class=&quot;bg--darker&quot;&gt;
		&lt;div class=&quot;lc job__more&quot;&gt;
			&lt;div class=&quot;lc--uneven project__related&quot;&gt;
				&lt;h4 class=&quot;project__related__title&quot;&gt;Other related projects&lt;/h4&gt;
				&lt;div class=&quot;project-list--related&quot;&gt;
					{{# portfolio }}
						{{&gt; molecules-portfolio-item }}
					{{/ portfolio }}
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;