&lt;div class=&quot;text&quot;&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed cupiditate alias eum molestias explicabo non odio praesentium commodi debitis, unde vel impedit, eligendi. Quasi corporis esse velit aut, sequi rerum!&lt;/p&gt;

	&lt;h3&gt;Our role&lt;/h3&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eveniet porro, aut recusandae, earum, pariatur quis qui laborum a, perspiciatis minus nihil! Vitae reiciendis commodi quasi blanditiis perspiciatis, ab modi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam blanditiis repudiandae dolore, dicta eum est cupiditate commodi mollitia voluptates, ullam hic quam perspiciatis illum. Aut deleniti quasi voluptate tenetur reiciendis!&lt;/p&gt;

	&lt;blockquote&gt;
	   	&lt;p&gt;A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation. &lt;/p&gt;
		&lt;cite class=&quot;citation byline&quot;&gt;Client &lt;span&gt;Quote Source&lt;/span&gt;&lt;/cite&gt;
	&lt;/blockquote&gt;
&lt;/div&gt;