&lt;a href=&quot;http://www.google.co.uk/maps/@{{ location.lat }},{{ location.lng }},16z&quot; class=&quot;map&quot; data-latlng=&quot;{{ location.lat }},{{ location.lng }}&quot; target=&quot;_blank&quot;&gt;
    &lt;picture class=&quot;map__placeholder&quot;&gt;
		&lt;!--[if IE 9]&gt;&lt;video style=&quot;display: none;&quot;&gt;&lt;![endif]--&gt;
 		&lt;source 
 		media=&quot;(min-width: 60em)&quot;
 		sizes=&quot;800px&quot;
 		srcset=&quot;
 			https://maps.googleapis.com/maps/api/staticmap?center={{ location.lat }},{{ location.lng }}&amp;amp;zoom=15&amp;amp;size=640x260&amp;amp;markers=color:0xF24D79|{{ location.lat }},{{ location.lng }}&amp;amp;sensor=false&amp;amp;style=feature:landscape|hue:0xFBF7E5|saturation:75|lightness:25 640w, 
 			https://maps.googleapis.com/maps/api/staticmap?center={{ location.lat }},{{ location.lng }}&amp;amp;zoom=15&amp;amp;size=640x260&amp;amp;&amp;amp;markers=color:0xF24D79|{{ location.lat }},{{ location.lng }}&amp;amp;sensor=false&amp;amp;style=feature:landscape|hue:0xFBF7E5|saturation:75|lightness:25&amp;amp;scale=2 1280w
 		&quot;/&gt;

 		&lt;source 
 		media=&quot;(min-width: 40em)&quot;
 		sizes=&quot;70vw&quot;
 		srcset=&quot;
 			https://maps.googleapis.com/maps/api/staticmap?center={{ location.lat }},{{ location.lng }}&amp;amp;zoom=15&amp;amp;size=500x320&amp;amp;&amp;amp;markers=color:0xF24D79|{{ location.lat }},{{ location.lng }}&amp;amp;sensor=false&amp;amp;style=feature:landscape|hue:0xFBF7E5|saturation:75|lightness:25 500w, 
 			https://maps.googleapis.com/maps/api/staticmap?center={{ location.lat }},{{ location.lng }}&amp;amp;zoom=15&amp;amp;size=500x320&amp;amp;markers=color:0xF24D79|{{ location.lat }},{{ location.lng }}&amp;amp;sensor=false&amp;amp;style=feature:landscape|hue:0xFBF7E5|saturation:75|lightness:25&amp;amp;scale=2 1000w
 		&quot;/&gt;
		&lt;!--[if IE 9]&gt;&lt;/video&gt;&lt;![endif]--&gt;

 		&lt;img 
 		srcset=&quot;https://maps.googleapis.com/maps/api/staticmap?center={{ location.lat }},{{ location.lng }}&amp;amp;zoom=15&amp;amp;size=320x320&amp;amp;markers=color:0xF24D79|{{ location.lat }},{{ location.lng }}&amp;amp;sensor=false&amp;amp;style=feature:landscape|hue:0xFBF7E5|saturation:75|lightness:25 320w, https://maps.googleapis.com/maps/api/staticmap?center={{ location.lat }},{{ location.lng }}&amp;amp;zoom=15&amp;amp;size=320x320&amp;amp;markers=color:0xF24D79|{{ location.lat }},{{ location.lng }}&amp;amp;sensor=false&amp;amp;style=feature:landscape|hue:0xFBF7E5|saturation:75|lightness:25&amp;amp;scale=2 640w
 		&quot; alt=&quot;map&quot;/&gt;
	&lt;/picture&gt;
&lt;/a&gt;