&lt;ul class=&quot;nav-footer&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Facebook&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Twitter&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;LinkeIn&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Google+&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Pinterest&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Instagram&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;