&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header-home }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;h1 class=&quot;intro&quot;&gt;{{ heading.home }}&lt;/h1&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	&lt;section class=&quot;section&quot;&gt;
		{{&gt; organisms-fluixd }}
	&lt;/section&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;