&lt;nav id=&quot;nav&quot; class=&quot;nav nav--main&quot;&gt;
	&lt;ul class=&quot;nav-list&quot;&gt;
		&lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;{{ link.pages-homepage }}&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.pages-work }}&quot;&gt;Work&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.pages-services }}&quot;&gt;Services&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.pages-team }}&quot;&gt;Team&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.pages-clients }}&quot;&gt;Clients&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.pages-blog }}&quot;&gt;Opinion&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href=&quot;{{ link.pages-contact }}&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
