&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
	&lt;div class=&quot;lc lc--pad&quot;&gt;
		&lt;div class=&quot;footer__contact&quot;&gt;
			&lt;p&gt;&lt;b&gt;Can we help your business?&lt;/b&gt;&lt;/p&gt;
			&lt;a href=&quot;{{ link.pages-contact }}&quot; class=&quot;button button--action&quot;&gt;Get in touch&lt;/a&gt;
		&lt;/div&gt;
		&lt;div class=&quot;footer__social&quot;&gt;
			{{&gt; molecules-footer }}
			&lt;p class=&quot;copyright&quot;&gt;&amp;copy; 2015 Base Creative. All rights reserved.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;