&lt;div class=&quot;client-list&quot;&gt;
	{{&gt; atoms-client-logo }}
	{{&gt; atoms-client-logo }}
	{{&gt; atoms-client-logo }}
	{{&gt; atoms-client-logo }}
	{{&gt; atoms-client-logo }}
	{{&gt; atoms-client-logo }}
	{{&gt; atoms-client-logo }}
	{{&gt; atoms-client-logo }}
	{{&gt; atoms-client-logo }}
	{{&gt; atoms-client-logo }}
	{{&gt; atoms-client-logo }}
	{{&gt; atoms-client-logo }}
&lt;/div&gt;