&lt;picture&gt;
	&lt;source media=&quot;(min-width: 40em)&quot; sizes=&quot;(min-width: 60em) 320px, 48vw&quot; srcset=&quot;//placehold.it/320x320/fff.jpg 320w, //placehold.it/640x640/fff.jpg 640w, //placehold.it/1280x1280/fff.jpg 1280w&quot;&gt;
	&lt;img sizes=&quot;100vw&quot;  alt=&quot;post cover&quot; srcset=&quot;//placehold.it/320x160/fff.jpg 320w, //placehold.it/640x320/fff.jpg 640w&quot; /&gt;
&lt;/picture&gt;