&lt;img sizes=&quot;(min-width: 60em) 300px, (min-width: 40em) 50vw, 100vw&quot; srcset=&quot;//placehold.it/260x260.jpg 260w, //placehold.it/320x320.jpg 320w, //placehold.it/640x640.jpg 640w, //placehold.it/1280x1280.jpg 1280w&quot; alt=&quot;post cover&quot; /&gt;