&lt;div class=&quot;news-list&quot;&gt;
	{{&gt; molecules-post-summary }}
	{{&gt; molecules-post-summary }}
	{{&gt; molecules-post-summary }}
	{{&gt; molecules-post-summary }}
	{{&gt; molecules-post-summary }}
&lt;/div&gt;