&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #898d86;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$color-primary&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #5A5F55;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$color-primary-dark&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #35332E;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$color-primary-darkest&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #29313D;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$color-secondary&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #fbf7e5;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$color-bg&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #efedda;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$color-bg-alt&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;