&lt;img sizes=&quot;(min-width: 60em) 300px, (min-width: 48em) 33vw, (min-width: 40em) 50vw, 100vw&quot; srcset=&quot;//placehold.it/250x150/fff 250w, //placehold.it/400x250/fff 400w, //placehold.it/600x375/fff 600w&quot; /&gt;