&lt;div class=&quot;client-logo&quot;&gt;
	&lt;picture&gt;
		&lt;source srcset=&quot;../../images/clients/{{ name }}.svg&quot; type=&quot;image/svg+xml&quot; /&gt;
		&lt;img sizes=&quot;(min-width: 60em) 200px, (min-width: 40em) 25vw, (min-width: 48em) 33vw, (min-width: 20em) 50vw, 100vw&quot; srcset=&quot;../../images/clients/{{ name }}.png 250w, ../../images/clients/{{ name }}@1-5x.png 375w, ../../images/clients/{{ name }}@2x.png 500w&quot; alt=&quot;client logo&quot; /&gt;
	&lt;/picture&gt;
&lt;/div&gt;