&lt;div class=&quot;hgroup lc--tight&quot;&gt;
   	&lt;h1&gt;{{ heading.hgroup.big }}&lt;/h1&gt;
   	&lt;h2&gt;{{ heading.hgroup.medium }}&lt;/h2&gt;
   	&lt;h3&gt;{{ heading.hgroup.small }}&lt;/h3&gt;
&lt;/div&gt;