&lt;div class=&quot;project-list&quot;&gt;
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
	{{&gt; molecules-portfolio-item }}
&lt;/div&gt;