&lt;div class=&quot;project  project--{{ category }}&quot;&gt;
    &lt;a href=&quot;{{ link.pages-portfolio-inner }}&quot;&gt;
		&lt;div class=&quot;project__cover&quot;&gt;
			&lt;img src=&quot;{{ cover }}&quot; alt=&quot;&quot;/&gt;
		&lt;/div&gt;
		&lt;div class=&quot;project__data&quot;&gt;
			&lt;h3 class=&quot;project__title&quot;&gt;{{ title }}&lt;/h3&gt;
		&lt;/div&gt;
	&lt;/a&gt;
&lt;/div&gt;